<span>Vehicle Type</span>
<select class='timeline-filter' id="vehicle_type">
  <option value="any">Any</option>
  <option value="Class A">Class A</option>
  <option value="Class B">Class B</option>
  <option value="Fifth Wheel">Fifth Wheel</option>
</select>

<span>Reservation Status</span>
<select class='timeline-filter' id="status">
  <option value="any">Any</option>
  <option value="PENDING">Pending</option>
  <option value="CONFIRMED">Confirmed</option>
</select>

<div class="calendar"></div>
